.body_backgorund {
    background-image: url("https://www.bing.com/th?id=OIP.3prJRqnW3iGAasG5qomz9gHaEK&w=192&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color:  deeppink; 
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }